header {
	@include position(0,0,null,0,fixed);
	background-color: var(--white);
	display: flex;
	align-items: center;
	width: 100%;
	height: 6rem;
	padding: 0 4rem;
	box-sizing: border-box;
	z-index: 999;
	box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%), 0 0.5rem 0.75rem rgb(0 0 0 / 4%);
	@include transition(transform .2s, box-shadow .2s, height .2s);
	
	
	&:after {
		content: '';
		@include position();
		background-color: var(--white);
		z-index: -1;
	}
	
	// &.shrink {
		// height: 5rem;
		// box-shadow: 0 0.125rem 0.25rem rgb(0,0,0,0.08), 0 0.5rem 0.75rem rgb(0,0,0,0.04);
		// .logo_cont {
			// .logo {
				// .logo_main {					
					// padding-bottom: 0.375rem;
				// }
			// }
		// }
	// }
	
	&.hide {
		@include transform(translateY(-100%));
	}
	
	.menu_button_cont {
		display: none;
		align-items: center;
		@include transition(margin .3s, transform .3s);
		.menu_button {
			width: 3rem;
			//height: 28px;
			height: 24px;
			position: relative;
			cursor: pointer;
			z-index: 5;
			&:hover,
			&.active {
				span {
					background-color: var(--theme-sub);
				}
			}			
			span {
				display: block;
				height: 4px;
				width: 100%;
				background-color: var(--black);
				margin: 0 auto;
				@include position(null,0,null,0);
				@include transition(background-color .3s, top .3s, bottom .3s, transform .3s, width .15s);
				&:nth-of-type(1) {
					top: 0;
				}
				&:nth-of-type(2) {
					top: calc(50% - 0.125rem);
					// top: 50%;
				}
				&:nth-of-type(3) {
					bottom: 0;
				}
			}			
			&.active {
				span {
					background-color: var(--theme);
					&:nth-of-type(1) {
						top: calc(50% - 0.125rem);
						transform: rotate(-135deg);
					}
					&:nth-of-type(2) {
						width: 0;
					}
					&:nth-of-type(3) {
						bottom: calc(50% - 0.125rem);
						transform: rotate(135deg);
					}
				}
			}
		}
		.menu_location {
			position: relative;
			margin-left: 1rem;
			.menu_location_cont {
			    display: flex;
				align-items: center;
				a {
					display: block;
					color: var(--black);
					text-transform: uppercase;
					font-size: 2.5rem;
					font-weight: 700;
					line-height: 1;
					letter-spacing: 0.025rem;
					@include transition(color .3s);
					span {
					line-height: 1;
					}
					&:hover {
						color: var(--theme);
					}
				}
			}
		}
	}
	
		.first_main_menu {
		position: relative;
		top: 3rem;
			> ul {
				position: absolute;
				top: -3.5rem;
				left: 1vw;
				display: flex;
				list-style-type: none;
				text-transform: uppercase;
				font-weight: 700;
				font-size: 1.4rem;
				.menu-item-509 {
					color: white;
					> a {
							background-color: black;
							color: white;
							padding: 4px 1rem;
						}
				}
				> li {
					padding: 0 0.7rem;
					+ li {
						// margin-top: 1rem;
					}
					&.current_page_item {
						> a {
// 							color: var(--white);
// 							text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
// 							&:hover {
// 								color: var(--black);
// 								text-shadow: 1px 0 0 transparent, 0 -1px 0 transparent, 0 1px 0 transparent, -1px 0 0 transparent;
// 							}
						}
					}
					&.small {
						margin: 0;
						> span {
// 							width: 1.625rem;
// 							height: 1.625rem;
// 							top: 0.375rem;
// 							left: -3rem;
						}
						> ul {
// 							@include transform(translateY(-50%));
// 							top: 50%;
						}
						> a {
// 							font-weight: 700;
// 							text-transform: uppercase;
// 							font-size: 2.125rem;
							//line-height: 1.15;
// 							font-size: 1.75rem;
// 							letter-spacing: 0.025rem;
// 							line-height: 1.4;
// 							text-transform: initial;
// 							font-weight: 400;	
						}
					}
					&.sep_top {
// 						&:before {
// 							@extend %sep_large;
// 							@extend %sep_small;
// 						}
					}
					&.sep_bottom {
// 						&:after {
// 							@extend %sep_large;
// 						}
					}
					> a {
						//font-size: 1.2rem;
// 						font-weight: 700;
// 						text-transform: uppercase;
// 						color: var(--black);
// 						letter-spacing: 0.025rem;
// 						line-height: 1;
						&:hover {
							color: var(--theme);
						}
					}
					> ul {
// 						@include position(0,80%,null,null);
// 						min-width: 23rem;
						font-size: 2rem;
						opacity: 0;
						visibility: hidden;
 						position: absolute;
						list-style-type: none;
						@include transition(opacity .12s, visibility .12s);
						padding-top: 5rem;
						&:after {
						content: '';
						display: inline-block;
						margin-left: 10px; 
						border: 10px solid transparent;
						border-top: 20px solid white;
						position: absolute;
						top: 1.9rem;
						left: -1.2rem;
						
					}
						span {
// 							display: none;
						}
						> li {
							> a {
// 								font-size: 1.375rem;
// 								letter-spacing: 0.025rem;
// 								font-weight: 700;
// 								line-height: 1.4;
// 								white-space: nowrap;
// 								display: block;
// 								margin-top: 4vh;
								&:hover {
									color: var(--white);
									
								}
							}
							+ li {
								margin-top: 0.3vw;
								> a {
									border-top: 1px solid var(--black);
									padding-top: 0.3vw;
									display: block;
								}
							}
						}
					}
					&.menu-item-has-children {
						&.hovered {
							> ul {
								opacity: 1;
								visibility: visible;
								list-style: none;
								
							}
							> a {
// 								color: #205427;
// 								color: var(--white);
							}
						}
					}
				}
			}
		}
	
		.sub_menu  {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%), 0 0.5rem 0.75rem rgb(0 0 0 / 4%);
		background-color: var(--black);
		z-index: -1;
		@include transform(translateY(-100%));
		@include transition(transform .25s);
		&.show {
			@include transform(translateY(0));
		}
		.menu_button {
			position: absolute;
  			left: 5vw;
  			top: 1rem;
			width: 3rem;
			//height: 28px;
			height: 24px;
			cursor: pointer;
			z-index: 5;
			&:hover,
			&.active {
				span {
					background-color: var(--theme-sub);
				}
			}			
			span {
				display: block;
				height: 4px;
				width: 100%;
				background-color: var(--white);
				margin: 0 auto;
				@include position(null,0,null,0);
				@include transition(background-color .3s, top .3s, bottom .3s, transform .3s, width .15s);
				&:nth-of-type(1) {
					top: 0;
				}
				&:nth-of-type(2) {
					top: calc(50% - 0.125rem);
					// top: 50%;
				}
				&:nth-of-type(3) {
					bottom: 0;
				}
			}			
			&.active {
				span {
					background-color: var(--theme);
					&:nth-of-type(1) {
						top: calc(50% - 0.125rem);
						transform: rotate(-135deg);
					}
					&:nth-of-type(2) {
						width: 0;
					}
					&:nth-of-type(3) {
						bottom: calc(50% - 0.125rem);
						transform: rotate(135deg);
					}
				}
			}
		}
		ul {
			display: flex;
			list-style-type: none;
			justify-content: center;
			gap: 1.75rem;
			padding: 1rem 0;
			border-top: 1px solid rgba(0, 0, 0, 0.05);
			li {
// 				opacity: 0.35;
				@include transition(opacity 0.30s);
				&.active,
				&:hover{
					color: var(--theme);
// 					opacity: 1
				}
				a {
					font-size: 1.25rem;
					font-weight: 700;
					color: var(--white);
					&:hover {
							color: var(--theme);
					}
				}
				
			}
			
			
		}
	}

	.logo_cont {
		margin-left: auto;
		display: flex;
		align-items: center;
		height: 100%;
		@include transition(transform .25s);
		.logo_text {
			display: none;
			font-weight: 700;
			font-size: 0.875rem;
			letter-spacing: 0.025rem;
			margin-right: 1.625rem;
		}
		.logo {
			height: 100%;
			display: flex;
			align-items: center;
			.logo_main {
			  width: auto;
				height: 50%;
				box-sizing: border-box;
				@include transition(padding .25s);
				svg {
					height: 100%;
					width: auto;
				}
			}
		}
	}
	.logo_cont_mobile {
		opacity: 0;
		visibility: hidden;
		@include position(50%,6%,null,null);
		@include transform(translate(100%,-50%));
		width: 4rem;
		height: 3rem;
		@include transition(opacity .15s, visibility .15s, transform .15s);
	}
}

.main_menu_bg {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.6s, visibility 0.6s;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: var(--theme);
	z-index: 998;
	&.active {
		opacity: 1;
		visibility:visible;
	}
}

%sep_small {
	content: "";
	width: 3.5rem;
	height: 0.125rem;
	background-color: var(--black);
	margin: 1.25rem 0 0.875rem;
	display: block;
}

%sep_large {
  content: "";
  width: 5rem;
  height: 0.5rem;
  background-color: var(--black);
  margin: 1.5rem 0;
  display: block;
}

.main_menu {
	@include position(3.5rem,0,0,0,fixed);
	width: 100%;
	height: calc(100% - 3.5rem);
	z-index: 99999;
	// background-color: var(--theme);
	// opacity: 0;
	visibility: hidden;
	@include transition(visibility 1.5s);
	&:before {
		content: "";
		@include position();
		width: 0;
		height: 100%;		
		background-color: var(--theme);
		@include transition(width .4s ease .15s);
	}
	&.active {
		opacity: 1;
		visibility: visible;
		&:before {
			width: 100%;
			@include transition(width .8s);
		}
		.main_menu_wrap {
			opacity: 1;
			visibility: visible;
			@include transform(translateY(0));
			@include transition(opacity .6s ease .3s, visibility .6s ease .3s, transform .6s ease .3s);
		}
	}
	.main_menu_wrap {
		display: flex;
		//justify-content: space-between;
		justify-content: center;
		margin: 6rem auto;
		width: 82rem;
		position: relative;
		opacity: 0;
		visibility: hidden;
		@include transform(translateY(50%));
		// max-width: 160rem;
		@include transition(opacity .3s, visibility .3s, transform .3s);
		ul {		
			list-style-type: none;
		}
		.main_menu_left {
			display: none;
			> ul {
				> li {
					&.current_page_item {
						> a {
							color: var(--white);
							text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
							&:hover {
								color: var(--black);
								text-shadow: 1px 0 0 transparent, 0 -1px 0 transparent, 0 1px 0 #000, -1px 0 0 transparent;
							}
						}
					}
					&.large {
						> a {
							font-weight: 700;
							text-transform: uppercase;
							font-size: 2.125rem;
							line-height: 1.2;
						}
					}
					&.sep_top {
						&:before {
							@extend %sep_small;
						}
					}
					&.sep_bottom {
						&:after {
							@extend %sep_small;
						}
					}
					> a {
						color: var(--black);
						font-size: 1.375rem;
						letter-spacing: 0.025rem;
						line-height: 1.4;
						&:hover {
							color: var(--white);
						}
					}
				}
			}		
		}
		.main_menu_right {
			// @include position(0,null,null,25%);
			> ul {
				> li {
					padding-left: 25%;
					position: relative;
					> span {
						display: none;
						width: 2.5rem;
						height: 2.5rem;
						@include position(1rem,null,null,-4rem);
						@include transition(transform .3s);
						font-size: 0;
						svg {
							width: 100%;
							height: auto;
							path {							
								@include transition(fill .3s);
							}
						}
					}
					&.home {
						display: none;
					}
					+ li {
						// margin-top: 1rem;
					}
					&.current_page_item {
						> a {
							color: var(--white);
							text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
							&:hover {
								color: var(--black);
								text-shadow: 1px 0 0 transparent, 0 -1px 0 transparent, 0 1px 0 transparent, -1px 0 0 transparent;
							}
						}
					}
					&.small {
						margin: 0;
						> span {
							width: 1.625rem;
							height: 1.625rem;
							top: 0.375rem;
							left: -3rem;
						}
						> ul {
							@include transform(translateY(-50%));
							top: 50%;
						}
						> a {
							// font-weight: 700;
							text-transform: uppercase;
							//font-size: 2.125rem;
							//line-height: 1.15;
							font-size: 1.75rem;
							letter-spacing: 0.025rem;
							line-height: 1.4;
							text-transform: initial;
							font-weight: 400;							
						}
					}
					&.sep_top {
						&:before {
							//@extend %sep_large;
							@extend %sep_small;
						}
					}
					&.sep_bottom {
						&:after {
							@extend %sep_large;
						}
					}
					> a {
						font-size: 4.5rem;
						font-weight: 700;
						text-transform: uppercase;
						color: var(--black);
						letter-spacing: 0.025rem;
						line-height: 1;
						&:hover {
							color: var(--white);
						}
					}
					> ul {
						@include position(0,80%,null,null);
						min-width: 23rem;
						opacity: 0;
						visibility: hidden;
						@include transition(opacity .4s, visibility .4s);
						span {
							display: none;
						}
						> li {
							> a {
								font-size: 1.375rem;
								letter-spacing: 0.025rem;
								font-weight: 700;
								line-height: 1.4;
								white-space: nowrap;
								display: block;
								&:hover {
									color: var(--white);
								}
							}
							+ li {
								> a {
									border-top: 1px dotted var(--white);
								}
							}
						}
					}
					&.menu-item-has-children {
						&:hover {
							> ul {
								opacity: 1;
								visibility: visible;
							}
							> a {
								// color: #205427;
								color: var(--white);
							}
						}
					}
				}
			}
		}
	}
}