html {
    background-color: white;
    font-size: 20px;
  }
  
  ul {
    background: red;
    padding: 10px;
    border: 1px solid black;
  }
  
  p {
    margin-left: 80px;
    pad
    /* background-image:url('C:/Users/Mouaz/Downloads/out-of-stock-t.png');  */
    background: transparent url(C:/Users/Mouaz/Downloads/out-of-stock-t.png) left center no-repeat;
    
  }